.card-dashboard{
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 70%;
    margin: auto !important;
    margin-top: 20px !important;
}

.card-dash-img{
  width: 50%;
  object-fit: cover;
}

.card-dash-info{
  width: 50%;
  padding: 16px;
}
