// Import page-specific CSS files here.
@import "home";
@import "dashboard";
.con {
  margin: 100px;
  margin-top: 40px;
}

.banner2 {
  padding: 200px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
  position: relative;

}

.button {
  color: white;
  text-decoration: none;
}

.button:hover {
  color: aliceblue;
}


.card-image {
  object-fit: cover;
  object-position: center;
}

.card {
  margin: 20px;
  margin-left: 60px;
  box-shadow: inset;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#map-container-show{
    width: 40%;
    height: 75vh;
    padding: 0;
}

.map-subbox{
  height: 100%;
}

.mapboxgl-canvas{
  height: 100% !important;
  object-fit: cover !important;
  width: 100% !important;
}
