<% @house.photos.each do |photo| %>
<div class="banner2" style="background-image: url(<%= cl_image_path photo.key %>);">
<% end %>
    <h2><%= @house.name %></h2>
</div>
<br>

<p class="text-description"><%= @house.description %></p>
<p> price per night € <%= @house.price %></p>
