<div class="card bg-dark text-white">
  <img src="/assets/villa-a2c0d8d93beec0a7e74a08a3f1a0a6be06a175845b0744d31201f178379983cf.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h3 class="card-title text-center">Money can buy happiness!</h3>
    <h5 class="card-title text-center">Rent your luxurious villa to have the time of your life</h5>
    <button type="button" class="btn btn-dark">Register now</button>
  </div>
</div>
