<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/5544071.jpg)">
  Find the perfect house!
</div>

<div class="con">
  <button type="button" class="btn btn-success float-right"><%= link_to "New house", new_house_path(@house) , :class => "button" %></button>
</div>

<div class="container">
  <div class="row">
  <% @houses.each do |house| %>
    <div class="col-6">
      <div class="card">
        <img src="" alt="Poster" height="300" class="card-image">
        <div class="card-body">
          <h5 class="card-title"><strong><%=  house.name%></strong> </h5>
          <p class="card-text"><%=  house.description%></p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
