.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
