// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Calendar
@import "flatpickr/dist/flatpickr";

.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 0px;
}

.banner {
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: black;
  text-decoration: none;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.carousel-inner{
  img {
    height: 65vh;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
  }
}

.con1 {
  margin: 250px;
  margin-top: 0px;
  background-color: white;
  padding: 150px;
  padding-top: 75px;
  padding-bottom: 150px;
  button{
    margin-top: 50px;
  }
  ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

.con1 h4 {
  margin-top: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.con1 .location{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
